@model twright_bugtracker.Models.Ticket
    @{
    ViewBag.Title = "TicketDashboard";
}

<h2>Ticket Dashboard</h2>

<!--This is where I would begin laying out my ticket dashboard
    1.Ticket Info (details info)
    2.Ticket Comments
    3. Ticket attachments
    -------
    4.Ticket Histories
    5.Ticket Notifications
    
    -->
