
@{
    ViewBag.Title = "UnauthorizedTicketEdit";
}

<div class="customContentPanel">
    <h2>UnauthorizedTicketEdit</h2>


    <h2>The ticket with title :@ViewBag.TicketTitle  then working of why and who to contact.</h2>

</div>
    @Html.ActionLink("Return to Dashboard", "Dashboard", "Home")
